* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landingpage {
  height: 88vh;
  width: 100vw;
  background-color: #1a1a1a;
  overflow: hidden;
  position: relative;
}
.backgroundimage {
  margin-top: -20px;
  margin-left: 30px;
  z-index: -1;
}
.tagline {
  position: absolute;
  top: 50px;
  left: 100px;
  color: white;
  max-width: 700px;
  padding: 50px 100px;
  background-color: #1a1a1abb;
  text-align: center;
  line-height: 25px;
  font-size: 18px;
  opacity: 0.8;
  font-family: Poppins, sans-serif;
}
.tagbtn {
  position: absolute;
  left: 0px;
  bottom: 70px;
}
.profilepic {
  display: flex;
  justify-content: space-between;
  width: 150px;
  border: 0.3px solid rgb(83, 221, 186);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 10px;
  color: rgb(83, 221, 186);
}
