.pagecontainer {
  height: 88vh;
  width: 100vw;
  background-color: #1a1a1a;
  display: grid;
  place-items: center;
  overflow-y: scroll;
  padding-top: 20px;
}
.pagecontainer::-webkit-scrollbar {
  display: none;
}
.pagecontainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
