.resetcontainer {
  border: 2px solid rgba(16, 173, 173, 0.555);
  width: 380px;
  min-height: 350px;
  margin-top: -50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 10px;
  color: aliceblue;
}
.resetform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resetform > input {
  width: 290px;
  padding-top: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(16, 173, 173, 0.459);
  margin-bottom: 1em;
  background-color: #1a1a1a;
  color: rgb(67, 139, 206);
  font-size: 15px;
  font-weight: 600;
}
.resetform > p {
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  opacity: 0.8;
}
.title {
  align-self: flex-start;
  color: aliceblue;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.8;
  margin-left: 30px;
  font-size: 17px;
}
.checkinbox {
  margin: 10px 30px;
  align-self: center;
}
.resetbtn {
  padding: 0.4em 3.8em;
  background-color: rgb(118, 235, 206);
  border-radius: 7px;
  border: none;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 19px;
}
